.button-content{

    display: flex;
    flex-direction: row;
    justify-items: left;
    text-align: center;

}

.shortcut-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.button-text{
    padding:10px ;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;

}


